<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.liujiewentt.ee308fz_lab2_bobing">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/c3"
        android:roundIcon="@drawable/c3"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bobing">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Bobing.NoActionBar"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ScrollingActivity"
            android:exported="true"
            android:enabled="true"
            android:label="@string/app_name"
            android:icon="@drawable/cake1_c2"
            android:roundIcon="@drawable/cake1_c1"
            android:theme="@style/Theme.Bobing.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="icon_cake1_c1"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/cake1_c1"
            android:roundIcon="@drawable/cake1_c1"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_cake1_c2"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/cake1_c2"
            android:roundIcon="@drawable/cake1_c2"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_cake1_c3"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/cake1_c3"
            android:roundIcon="@drawable/cake1_c3"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_cake7_1"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/cake7_1"
            android:roundIcon="@drawable/cake7_1"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_cake5"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/cake5"
            android:roundIcon="@drawable/cake5"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_cake6"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/cake6"
            android:roundIcon="@drawable/cake6"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_c3"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/c3"
            android:roundIcon="@drawable/c3"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_c4"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/c4"
            android:roundIcon="@drawable/c4"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_c5"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/c5"
            android:roundIcon="@drawable/c5"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_c6"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/c6"
            android:roundIcon="@drawable/c6"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_c7"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/c7"
            android:roundIcon="@drawable/c7"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_c8"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/c8"
            android:roundIcon="@drawable/c8"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_dv1"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/dv1"
            android:roundIcon="@drawable/dv1"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_dv2"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/dv2"
            android:roundIcon="@drawable/dv2"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_dv3"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/dv3"
            android:roundIcon="@drawable/dv3"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_dv4"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/dv4"
            android:roundIcon="@drawable/dv4"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_dv5"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/dv5"
            android:roundIcon="@drawable/dv5"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_dv6"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/dv6"
            android:roundIcon="@drawable/dv6"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="icon_android_robot"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".ScrollingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity android:name=".temp1" />
        <activity
            android:name=".rulePageActivity"
            android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity
            android:name=".single_play_home_Activity"
            android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity
            android:name=".multi_play_home_Activity"
            android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity
            android:name=".aboutPageActivity"
            android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity
            android:name=".play"
            android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity
            android:name=".multi_play_hall_Activity"
            android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity android:name=".listIconActivity"
            android:theme="@style/Theme.Bobing.NoActionBar"/>
        <activity android:name=".icon_viewfull_fgActivity"
            android:theme="@style/Theme.Bobing.NoActionBar"/>
    </application>

</manifest>