<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.liujiewentt.ee308fz_lab2_bobing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bobing">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bobing.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".temp1"/>
        <activity android:name=".rulePageActivity" android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity android:name=".single_play_home_Activity" android:theme="@style/Theme.Bobing.NoActionBar"/>
        <activity android:name=".multi_play_home_Activity" android:theme="@style/Theme.Bobing.NoActionBar" />
        <activity android:name=".aboutPageActivity" android:theme="@style/Theme.Bobing.NoActionBar" />
    </application>

</manifest>